@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap");
/* Global Styles */
body,
html {
  font-family: Roboto, "serif";
  background: #fefefe;
  height: 100%; }

.btn:active, .btn:focus {
  box-shadow: none; }

input:active, input:focus {
  outline: none !important;
  box-shadow: none !important; }

@media screen and (min-width: 992px) {
  .bg-lg-transparent {
    background-color: transparent !important; } }

@media screen and (min-width: 768px) {
  .text-md-right {
    text-align: right; } }

.section-title, #offers .offer-title {
  font-weight: 900;
  font-size: 30px; }
  .section-title > span, #offers .offer-title > span {
    padding-bottom: 4px;
    border-bottom: 8px solid #fa9529; }
    .section-title > span span.yellow, #offers .offer-title > span span.yellow {
      color: #ffc12b; }

.btn--primary {
  background-color: #ffc12b; }

.product-qty span {
  font-size: 12px;
  color: #fa9529; }

.totals tr td {
  font-size: 13px; }

  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  




  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    padding-bottom: 16px;
    padding-top: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }